@media (max-width: 1214px) {
  .header__content-left h1 {
    font-size: 44px;
    line-height: 44px;
  }
  .header__content-right {
    max-width: 500px;
  }
  .header__content-right .img-big {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 1192px) {
  .header__content-left {
    margin-left: 40px;
  }
  .header__content-right .img-other {
    display: none;
  }
}
@media (max-width: 1024px) {
  .newsletter .row {
    gap: 33px;
  }
  .newsletter__left h2 {
    font-size: 44px;
  }
  .contact__top {
    gap: 30px;
  }
}
@media (max-width: 993px) {
  .header__content-left h1 {
    font-size: 40px;
  }
  .contact__top {
    flex-direction: column;
  }
  .contact__top-right form {
    width: 100%;
  }
}
@media (max-width: 982px) {
  .header {
    height: 100%;
    padding-bottom: 40px;
  }
  .header__content-left h1 {
    line-height: 20px;
    margin-bottom: 30px;
  }
  .header__content-left p {
    max-width: 440px;
    line-height: 20px;
  }
  .row {
    flex-direction: column;
  }
  .header__content-right {
    order: -1;
  }
  .header__content-right .img-other {
    display: block;
  }
  .header__content-right img:nth-child(2) {
    left: -30px;
    top: 0;
  }
  .header__content-right img:nth-child(3) {
    left: -47px;
    bottom: 40px;
  }
  .header__content-right img:nth-child(4) {
    right: -71px;
    bottom: 30px;
  }
  .header__content-right img:nth-child(5) {
    right: -40px;
    top: 0;
  }
  /* about  */
  .about__info {
    gap: 25px;
  }
}

@media (max-width: 835px) {
  .portfolio__container {
    display: flex;
    flex-direction: column;
  }
  .portfolio__item {
    min-height: 250px;
  }
  .resume .row {
    align-items: center;
    gap: 70px;
  }
  .newsletter .row {
    padding: 80px 40px;
  }
  .newsletter__left h2 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .testimonial__comments-container {
    flex-direction: column;
    gap: 130px;
  }
  .item-bottom p {
    max-width: none;
  }
  .blog__container {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  .blog__item {
    width: 100%;
  }
  .contact__top-right {
    width: 100%;
  }

  .input__container {
    flex-direction: column;
    gap: 5;
  }
}
@media (max-width: 685px) {
  .header__content-right.img-other {
    display: none;
  }
  .header__list {
    display: none;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: rgba(31, 34, 53, 0.95);
    border-radius: 4px 0 0 4px;
    z-index: 1000;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
    margin: 0;
  }
  .header__list li {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .header__list.active {
    display: flex;
    flex-direction: column;
    right: 0;
    gap: 25px;
  }
  .hamburger {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 40px;
    height: 40px;
    top: 30px;
    left: 20px;
    cursor: pointer;
    z-index: 1001;
  }
  .hamburger span {
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 4px;
    display: block;
    transition: all 0.3s ease;
  }
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  .header__content-left h1 {
    line-height: 41px;
    margin-bottom: 0;
  }
  .header__content-right img:nth-child(3) {
    display: none;
  }
  .newsletter__left h2 {
    font-size: 28px;
  }
  .newsletter .row {
    padding: 80px 20px;
  }
  .newsletter__right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .newsletter__right form button {
    display: block;
    position: relative;
  }
  .newsletter__left h3 {
    font-size: 19px;
  }
  .newsletter__left h2 {
    font-size: 20px;
  }
  .newsletter__left p {
    font-size: 16px;
  }
}
@media (max-width: 591px) {
  .choose-us__item {
    width: 100%;
  }
  .newsletter .row {
    display: block;
  }
  .newsletter__left {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  .newsletter__right {
    width: 100%;
  }
}
@media (max-width: 534px) {
  .header__content-right .img-other {
    display: none;
  }
  .header__content-right {
    max-width: 420px;
  }
  .header__content-right .img-big {
    width: 100%;
  }
  .header__content-left h1 {
    font-size: 33px;
  }
  /* about  */
  .about {
    padding: 40px 0;
  }
  .about__left {
    max-width: 400px;
  }
  .about__left img {
    width: 100%;
    height: auto;
  }

  .about__right h3 {
    font-size: 30px;
  }
  .about__right p {
    width: 100%;
  }
  .about__info {
    flex-direction: column;
  }
  .about__info-list {
    width: 100%;
  }
  .portfolio {
    padding: 90px 0;
  }
  .resume__right {
    max-width: 100%;
  }
  .resume__right img {
    width: 100%;
  }
}

@media (max-width: 434px) {
  .header {
    overflow: hidden;
  }
  .header__content {
    margin-left: 0;
    margin-top: 10px;
  }
  .icon-group {
    display: none;
  }
  .header__content-left,
  .header__content-right .img-big {
    margin-left: 0;
  }
  .title-h3 {
    font-size: 29px;
  }
  .skill__btn-group {
    overflow-x: auto;
  }
  .form-item__content h4 {
    font-size: 20px;
  }
}
@media (max-width: 321px) {
  .header__content-left h1 {
    font-size: 27px;
  }
  .header__btn-group {
    gap: 10;
    justify-content: space-between;
  }
  .header__content-left,
  .header__content-right .img-big {
    margin-left: 0;
    height: auto;
    margin-top: 30px;
  }
  .btn-other {
    min-width: 123px;
    padding: 12px 13px;
    font-weight: bold;
    line-height: 15px;
    color: var(--text-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  .title-h3 {
    font-size: 22px;
  }
  .testimonial__comments-item {
    padding: 30px 25px 29px 21px;
  }
  .item__content-bottom h3 {
    font-size: 20px;
  }
  .newsletter {
    padding: 80px 0;
  }
  .contact {
    padding: 80px 0;
  }
  .form-item {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
