:root {
  --primary: #1f2235;
  --secondary: #24263b;
  --text-color: #ffff;
  --tertiary: #fe461c;
  --public-sans: 'Public Sans', sans-serif;
  --btn-hover: #f26f52;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  font-size: 16px;
}
body {
  width: 100%;
  max-width: 100%;
  font-family: 'Outfit', sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* styles  */
/* header start  */

.header {
  position: relative;
  background-color: var(--primary);
  /* height: 100vh; */
  height: 900px;
}
.icon-group {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.icon-group a {
  width: 50px;
  height: 50px;
  background-color: #24263b;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.icon-group a:hover {
  background-color: var(--tertiary);
}
.icon-group a img {
  width: 23px;
}
.header nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding-top: 22px;
}
.header__list {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 700;
  line-height: 15px;
  margin-right: 40px;
}

.btn {
  padding: 17px 15px;
  background-color: var(--tertiary);
  border-radius: 4px;
  transition: color 1s linear;
  border: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  line-height: 15px;
}
.btn:hover {
  background-color: #f26f52;
}
.header__list li:hover {
  color: var(--tertiary);
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header__content {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 100px;
  min-height: 100%;
}
.header__content-left {
  /* max-width: 680px; */
  max-width: 100%;
  position: relative;
}
.header__content-left img {
  position: absolute;
  top: -90px;
  left: -90px;
}
.header__content-left h3 {
  font-family: var(--public-sans);
  line-height: 20px;
  margin-bottom: 16px;
}
.header__content-left h1 {
  font-size: 54px;
  line-height: 72px;
  width: 100%;
}
.header__content-left h1 span {
  color: var(--tertiary);
  display: inline-block;
  margin-bottom: 31px;
}
.header__content-left p {
  font-weight: 500;
  margin-bottom: 36px;
}

.header__btn-group {
  display: flex;
  gap: 23px;
}
.btn-other {
  min-width: 160px;
  padding: 17px 18px;
  font-weight: bold;
  line-height: 15px;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.header__btn-group button:nth-child(1) {
  background-color: var(--tertiary);
}
.header__btn-group button:nth-child(1):hover {
  background-color: var(--btn-hover);
}
.header__btn-group button:nth-child(2) {
  background-color: transparent;
  border: 2px solid var(--text-color);
}
.header__btn-group button:nth-child(2):hover {
  background-color: #353a5a;
}

/* header right  */
.header__content-right {
  position: relative;
  max-width: 780px;
  /* border: 1px solid black; */
}
.header__content-right .img-big {
  width: 624px;
  height: 624px;
  margin-left: 10px;
}
.img-other {
  width: 80px;
  height: 80px;
  position: absolute;
}
.header__content-right img:nth-child(2) {
  left: 0;
  top: 0;
}
.header__content-right img:nth-child(3) {
  left: -20px;
  bottom: 40px;
}
.header__content-right img:nth-child(4) {
  right: -50px;
  bottom: 30px;
}
.header__content-right img:nth-child(5) {
  right: -20px;
  top: 0;
}

.hamburger {
  display: none;
}

/* header end  */

/* about start  */
.about {
  background-color: var(--secondary);
  padding: 131px 33px;
}
.title-h2 {
  padding: 10px 17px;
  background-color: rgba(36, 38, 59, 1);
  border-radius: 4px;
  box-shadow: 2px 2px 4px black;
  margin: 0 auto;
  max-width: 155px;
  font-weight: 500;
  margin-bottom: 19px;
  letter-spacing: 2px;
  text-align: center;
}
.about__right h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 15px;
}

.about__right p {
  font-weight: 300;
  max-width: 523px;
  line-height: 26px;
  margin-bottom: 20px;
}

.about__info {
  display: flex;
  justify-content: space-between;
  gap: 54px;
  margin-bottom: 38px;
}

.about__info-list {
  list-style: none;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about__info-list li {
  display: flex;
  gap: 15px;
}

.about__info-list li span:nth-child(1) {
  font-weight: 500;
  display: inline-block;
  width: 60px;
}

.about__info-list li span:nth-child(3) {
  font-weight: 300;
  font-size: 14px;
}
/* about the end  */
/* portfolio start  */
.portfolio {
  background-color: var(--primary);
  padding: 120px 0;
}
.title-h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 50px;
}
.tab-group {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 10px;
  max-width: 476px;
  margin: 0 auto;
  margin-bottom: 36px;
  overflow-x: auto; /* включает горизонтальный скролл */
  overflow-y: hidden;
}
.tab-group button {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 4px;
  transition: all 0.3s linear;
}
.tab-group button:hover {
  background-color: var(--tertiary);
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
  /* height: 600px; */
  min-height: 829px;
}
.portfolio__item {
  border-radius: 8px;
  background: rgba(217, 217, 217, 1);
  height: 100%;
  padding: 28px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s linear;
}
.portfolio__item:hover {
  background: rgba(217, 217, 217, 0.5);
  z-index: 9;
}
.portfolio__item-content {
  position: absolute;
  bottom: 29px;
  transform: translateY(100px);
  transition: all 0.5s linear;
  z-index: 10;
}
.portfolio__item:hover .portfolio__item-content {
  transform: translateY(0);
}
.portfolio__item-content h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 5px;
}

.portfolio__item-content p {
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  display: block;
}
.item1 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
}

.item2 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 3;
}

.item3 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
}

.item4 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-row-start: 3;
}

.item5 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 5;
}

.item6 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 5;
  grid-row-start: 3;
}
